{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">INSCRIVEZ-VOUS</h3>
      <div class="form-group">
        <label for="email">Email </label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Entre ton email"
        />
      </div>
      <div class="form-group">
        <label for="firstName">Nom</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Entre ton nom"
        />
      </div>
      <div class="form-group">
        <label for="password" >Mot_de_passe</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Entre ton mot de passe"
        />
      </div>
      <div class="form-group">
        <label for="password2">Confirmez_votre_Mot_de_passe</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirme ton mot de passe"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">INSCRIPTION</button>
    </form>
    {% endblock %}